span[class~="deck"]{
    display:block;
    color:red;
}

a[href$="pdf"]{
    color:blueviolet;
}
a[href^="http"]{
    background-color: red;
}

a:hover{
    color:red;
    font-size: 20px;

}

a:active{
    color:black;
}
a:visited{
    color:blue;
}