.button {
    display: block;
    width: 100px;
    padding: 12px;
    border-right: 1px solid #77aaaa;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background: #aadddd;
    background: -moz-linear-gradient(right, #aadddd 0%, #ffaaaa 100%);
    background: -webkit-linear-gradient(right, #aadddd 0%, #ffaaaa 100%);
    background: linear-gradient(right, #aadddd 0%, #ffaaaa 100%);
    box-shadow: -5px 5px 2px 2px #000000;

}
.button:hover{
    background: #778888;
    background: -moz-linear-gradient(left, #aadddd 0%, #ffaaaa 100%);
    background: -webkit-linear-gradient(left, #aadddd 0%, #ffaaaa 100%);
    background: linear-gradient(left, #aadddd 0%, #ffaaaa 100%);
}
